numpy
streamlit
streamlit-chat
openvino-dev==2023.1.0.dev20230811
optimum
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/optimum-intel.git
sentencepiece
gradio
onnx>=1.11.0
onnxruntime
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1; sys_platform == 'darwin'
torch==1.13.1+cpu; sys_platform == 'linux' or platform_system == 'Windows'
