--extra-index-url https://download.pytorch.org/whl/cpu
numpy
streamlit
streamlit-chat
openvino>=2023.2.0
nncf>=2.7
sentencepiece
gradio
auto_gptq
onnx>=1.11.0
onnxruntime
torch==2.0.1
transformers>=4.33.0
git+https://github.com/huggingface/optimum-intel.git
